.img-home {
    height: 150px;
}
.front-logo {
    width: 100%;
    text-align: center;
}

nav {
    text-align: center;
    width: 100%;
    ul {
        margin: 0px;
        border-radius: 2px;
        padding: 0px;
        li {
        width: auto;
        display: inline-block;
        }
    }
}
