.img-home {
    height: 150px;
}

nav {
    text-align: center;
    width: 100%;
    ul {
        margin: 0px;
        border-radius: 2px;
        
        li {
        width: auto;
        display: inline-block;
        }
    }
}
