:host {
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #FFF;
  padding: 25px;


  .error-msg {
    position: relative;
    display: block;
    margin-top: px2em(10);
    top: 0;
  }

  h1 {
    font-weight: 600;
    font-size: 1.25em;
    line-height: 1.1em;
    padding-bottom: 0.6em;
  }

  p {
    color: #4D4C4C;
    font-size: 0.85em;
    font-weight: 600;
    padding-bottom: 2.5em;
  }

  .input-inline-wrapper {
    padding-top: 1em;

    label {
      color: #A39E98;
    }
  }

  .btn-group {
    bottom: 25px;
    left: 25px;
    right: 25px;

    .btn:nth-child(n+2) {
      margin-top: 0.5em;
    }

    .btn {
      border-radius: 0px !important;
    }

    .btn_primary {
      background-color: #4D4C4C;
      border: #4D4C4C;
      padding: 13px 50px;
      letter-spacing: 2px;
    }

    .btn_secondary {
      margin-top: px2rem(5);
      border: px2rem(1) solid #087;
      color: #087;
      background: #FFF;
    }
  }
}
