* {
  margin: 0;
  padding: 0;
}

body {
  font: 15px/1.3 'Open Sans', sans-serif;
  color: #c5c0c1;
  text-align: center;
}

.loader-background {
  width: 100%;
  height: 100%;
  background-color: #eaeaea4a;
  z-index: 9999;
}
mat-progress-spinner {
  position: absolute;
  left: 0;
  bottom: 0; 
  right: 0; 
  top: 0;
  margin: auto;
}
